<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>@ViewBag.Title</title>

        <!--   Common Stylesheets   -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
        <link href="~/content/alertify/alertify.css" rel="stylesheet" />
        <link href="~/Styles/main.css" rel="stylesheet" />
    
        <!-- Common Scripts -->
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/alertify/alertify.js"></script>
        <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/ajax-wrapper.js"></script>
        <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>

        <script type="text/javascript">
            var BASE_PATH = '@Url.Content("~")';
            $(document).ready(function() {
                //NB: va fatto il reset iniziale per i default
                alertify.reset();

                $(".button-collapse").sideNav();
            });
        </script>

        @RenderSection("Scripts", false)
        
    </head>
<body class="antialiased body-container">
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.TreeList }
    )

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
    )

    @Html.Partial("_TopBar")

    @RenderBody()

</body>

</html>
